<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java

Some of the commonly used libraries used by Data Scientists include:
1. Pyplot
2. ggplot
3. Pandas

Data Science Tools

|     1 |        2 |      3 |
|-------|----------|--------|
| Github | Jupyter | Python |

###Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
"This is a simple arithmetic expression to multiply then add integers."
(3*4)+7

19

In [6]:
"This will convert 200 minutes to hours by diving by 60"
print(200/60)

3.3333333333333335

Objectives:
<ul>
    <li>Create a Jupyter Notebook</li>
    <li>Create markdown cell with title of the notebook</li>
    <li>Create a markdown cell for an introduction</li>
    <li> Create a markdown cell to list data science languages</li>
    <li>Create a markdown cell to list data science libraries</li>
    <li>Create a markdown cell with a table of Data Science tools</li>
    <li>Create a markdown cell introducing arithmetic expression examples</li>
    <li>Create a code cell to multiply and add numbers</li>
</ul>

<h2>Author</h2>
Aditya Kumar